body {
  background-color: white;
  height: 1500px;
}

#menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 100px;
}

button {
  cursor: pointer;
  height: 15vh;
  width: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.food-option {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 140px;
 }

.food-image {
  display: flex;
  object-fit: contain;
  width: 120px;
  height: 120px;
}

.food-image:hover {
  cursor: pointer;
}

.food-desc {
  margin-top: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.cart-bar {
  background-color: darkslateblue;
  display: flex;
  width: 350px;
  height: 50px;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.big-circle {
  background-color: white;
  height: 110px;
  width: 110px;
  border-radius: 90px;
  display: flex;
  border: 26px solid darkslateblue;
  align-items: center;
  justify-content: center;
}

.center-icon {
}