.nav-bar {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  gap: 22px;
  justify-content: right;
  align-items: center;
  height: 80px;
  background-color: blanchedalmond;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
  
a, a:active {
  color: black;
  text-decoration: none;
  height: 30px;
}

.logo {
  display: flex;
  position: relative
}

#logo-img {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 120px;
  height: 50px;
}
  
#nav-cart {
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  height: 44px;
  width: 44px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#checkout-img {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

#nav-more {
  transform: rotate(90deg);
  font-weight: bold;
  font-size: 26px;
  margin: 0 5px 0 5px;
}